.pace {
    display: none;
}

.main-style {
    min-height: 100vh;
    background: url(../img/cover/cover-scrum-board.png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom;
}

.green{
    color: rgb(2, 202, 2);
}

.rotate{
    transform: rotate(110deg);
}

.description-max-width {
    max-width: 14rem;
}